# Generic
*.html
*.htm
BUILD/

# Mac stuff
*.a
*.o
*.plist
*.xcbkptlist
*.xcuserdatad/
*.xcuserstate
*.xcworkspace/
.DS_Store
._*
xcuserdata/

# Windows stuff
*.db
*.db-shm
*.db-wal
*.dll
*.exe
*.idb
*.ini
*.ipch
*.json
*.lib
*.log
*.obj
*.opendb
*.pch
*.pdb
*.sqlite
*.suo
*.tlog
.vs/